body{
background: linear-gradient(to right, #ffb347, #ffcc33); //gradient is from -->/*https://uigradients.com/#PastelOrangeattheSun*/
color: black;
}

h1{
  font-size: 90px;
  font-family: fantasy;
  position: relative;
  text-align: center;
  color: #a60d0d;
}

ul{
font-size: 35px;
font-family: fantasy;
text-align: left;
position: absolute;
list-style: none;
color: #a60d0d;
}

div{
border: solid;
}

img{
height: 100px;
width: 100px;
}
